{% extends 'home-layout.html' %}

{%block body%}
<div class="jumbotron">
  <h2 class="display-2" style="text-align:center;">Corona Mapping Test</h2>
  <p style="text-align:center;">This is a test</p>
</div>
<div style="text-align:center;">
<div id="map" style="position:absolute;left:25%;right:25%;width:50%;"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages':['geochart'],
    // Note: you will need to get a mapsApiKey for your project.
    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
    'mapsApiKey': 'AIzaSyA8MEkyigH3BlvoN0YC3GU5SUxGJRwW80w'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {

    var countryData = new google.visualization.DataTable();
    countryData.addColumn('string', 'Country');
    countryData.addColumn('number', 'Total Confirmed Cases');
    var nameC = {{ countryName | tojson}};
    var num = {{ countryNumber | tojson}};
    // console.log(nameC[0]);
    // console.log(num[0]);
    for (var i = 0; i < nameC.length; i++){
      countryData.addRows([[nameC[i], num[i]]]);
    }

    var statesData = new google.visualization.DataTable();
    statesData.addColumn('string', 'State');
    statesData.addColumn('number', 'Total Confirmed Cases');
    var nameS = {{ stateName | tojson}};
    var numS = {{ stateNumber | tojson}};
    console.log(nameS);
    for (var i = 0; i < nameS.length; i++){
      statesData.addRows([[nameS[i], numS[i]]]);
    }

    var countryOptions = {
      colors: ['#d4d4d4', '#961515'],
      backgroundColor: '#302e2f'
    };

    var stateOptions = {
      region: 'US',
      colors: ['#d4d4d4', '#961515'],
      backgroundColor: '#302e2f',
      displayMode: 'regions',
      resolution: 'provinces'
    };

    var countryChart = new google.visualization.GeoChart(document.getElementById('countries_div'));
    var stateChart = new google.visualization.GeoChart(document.getElementById('states_div'));

    countryChart.draw(countryData, countryOptions);
    stateChart.draw(statesData, stateOptions);
  }
</script>
</head>
<body>
<h3>World</h3>
<div id="countries_div" style="width: 100%; height: auto;"></div>
<br>
<h3>US</h3>
<div id="states_div" style="width: 100%; height: auto;"></div>
</body>
{%endblock%}