{% extends 'home-layout.html' %}

{%block body%}
<div class="jumbotron">
  <h2 class="display-2" style="text-align:center;">Corona Mapping Test</h2>
  <p style="text-align:center;">This is a test</p>
</div>
<div style="text-align:center;">
<div id="map" style="position:absolute;left:25%;right:25%;width:50%;"></div>
</div>
<script type="text/javascript" src="/maps.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8SLBny2SO2Wf2nfacbU2siLr2pGFpuew&callback=initMap">
    </script>
{%endblock%}
